.langswitch {
	display: flex;
	align-items: center;
	gap: 5px;
}
.lang_btn {
	font-family: 'Krub', serif;
	font-size: 18px;
	line-height: 23.4px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: #c0c0c0;
}
.langswitch span {
	width: 1px;
	height: 18px;
	background-color: #000;
}
.lang_btn__active {
	color: #0d0c0c;
}
