.header__wrap,
.header__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__wrap {
	padding: 40px 0;
}
.header__menu {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: Krub;
	font-size: 24px;
	line-height: 31.2px;
	color: #0d0c0c;
}
.header__logo {
	font-family: 'Libre Caslon Display', serif;
	font-size: 28px;
	line-height: 36.4px;
	color: #0d0c0c;
}
.header__buttons {
	display: flex;
	gap: 20px;
}
.header__buttons img {
	width: 24px;
	height: 24px;
	fill: #0d0c0c;
}
