.topline {
	background-color: #d6e8ee;
	height: 60px;
	display: flex;
	align-items: center;
}

.topline__wrap,
.topline__right,
.topline__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topline__right {
	gap: 20px;
}
.topline__list {
	display: flex;
	gap: 20px;
}
.topline__contacts {
	font-family: 'Krub', serif;
	font-size: 18px;
	line-height: 23.4px;
	color: #0d0c0c;
}
.topline__contacts svg {
	margin-left: 10px;
}
